<h2>Home</h2>
<p>This is a Clarity seed application. This is the default page that loads for the application.</p>

<clr-dropdown [clrMenuPosition]="'right-bottom'">
  <button class="btn btn-primary dropdown-toggle" type="button">
    Dropdown
  </button>
  <div class="dropdown-menu">
    <label class="dropdown-header">Dropdown header</label>
    <a class="dropdown-item">Action</a>
    <a class="dropdown-item">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item">Separated link 1</a>
    <a class="dropdown-item">Separated link 2</a>
  </div>
</clr-dropdown>
